/private/swh-private-data/
/swh-dar/
/swh-gunicorn/
/swh-mediawiki/
/swh-postfix/
/swh-profile/
/swh-role/
/swh-site/
/swh-systemd/
/swh-uwsgi/
/camptocamp-systemd/
/claranet-varnish/
/icinga-icinga2/
/icinga-icingaweb2/
/inkblot-bind/
/mosen-cups/
/openstack-ceph/
/puppet-extlib/
/puppet-nginx/
/puppet-unattended_upgrades/
/puppetlabs-apache/
/puppetlabs-apt/
/puppetlabs-concat/
/puppetlabs-inifile/
/puppetlabs-mysql/
/puppetlabs-ntp/
/puppetlabs-postgresql/
/puppetlabs-puppetdb/
/puppetlabs-stdlib/
/puppetlabs-vcsrepo/
/ripienaar-module_data/
/rlenglet-debconf_package/
/saz-locales/
/saz-memcached/
/saz-resolv_conf/
/saz-ssh/
/saz-sudo/
/saz-timezone/
/ssm-hitch/
/ssm-munin/
/stm-debconf/
/theforeman-puppet/
/thias-php/
/trepasi-debnet/
/wikimedia-kafka/
/wikimedia-zookeeper/
