/camptocamp-systemd/
/claranet-varnish/
/covermymeds-pgbouncer/
/deric-zookeeper/
/elastic-elasticsearch/
/icinga-icinga2/
/icinga-icingaweb2/
/inkblot-bind/
/mosen-cups/
/openstack-ceph/
/private/swh-private-data/
/private/swh-private-data-censored/
/puppet-archive/
/puppet-extlib/
/puppet-grafana/
/puppet-kafka/
/puppet-letsencrypt/
/puppet-nginx/
/puppet-php/
/puppet-rabbitmq/
/puppet-unattended_upgrades/
/puppetlabs-apache/
/puppetlabs-apt/
/puppetlabs-concat/
/puppetlabs-docker/
/puppetlabs-inifile/
/puppetlabs-java/
/puppetlabs-mysql/
/puppetlabs-ntp/
/puppetlabs-postgresql/
/puppetlabs-puppetdb/
/puppetlabs-stdlib/
/puppetlabs-vcsrepo/
/richardc-datacat/
/ripienaar-module_data/
/rlenglet-debconf_package/
/saz-locales/
/saz-memcached/
/saz-resolv_conf/
/saz-ssh/
/saz-sudo/
/saz-timezone/
/ssm-hitch/
/ssm-munin/
/stm-debconf/
/swh-dar/
/swh-gunicorn/
/swh-mediawiki/
/swh-postfix/
/swh-site/
/swh-systemd/
/swh-uwsgi/
/theforeman-puppet/
/trepasi-debnet/
